@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --surface: #f5f5f5;
  --foreground: #000000;
  --lime: #D1FF3D;
  --purple: #873BBF;
}

.dark {
  --background: #0B0B0B;
  --surface: #111111;
  --foreground: #ffffff;
}

@layer base {
  body {
    @apply bg-background text-white;
  }
}
